.wrapper {
  display: flex;
  flex-direction: column;
  box-shadow: rgb(236, 238, 240) 0px 3px 15px !important;
  width: 100%;
  box-sizing: border-box;
  flex-shrink: 0;
  position: sticky;
  top: 0px;
  left: auto;
  right: 0px;
  color: rgb(251, 253, 255) !important;
  z-index: 1201;
  border-radius: 0px !important;
}

.container {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  -webkit-box-align: center !important;
  height: 60px;
  min-height: 60px !important;
}

.title {
  flex-grow: 1;
  -webkit-box-flex: 1;
  h4 {
    margin: 0;
    font-weight: 500;
    line-height: 1.375;
    font-size: 24px;
    letter-spacing: -0.03em;
    color: rgb(17, 24, 28);
  }
}

.btn-home {
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  gap: 8px;
  flex-grow: 0;
  -webkit-box-flex: 0;
}

.change-language {
  font-weight: 400 !important;
  line-height: 1.71429 !important;
  font-size: 14px !important;
  text-transform: capitalize !important;
  box-shadow: none;
  display: flex !important;
  justify-content: space-between !important;
  -webkit-box-pack: justify !important;
  min-width: 98px !important;
  height: 32px;
  color: rgb(17, 24, 28) !important;
  border-radius: 8px !important;
  flex: 1 1 0%;
  padding: 8px 12px !important;
  background-color: rgb(241, 243, 245) !important;

  div {
    display: flex;
    align-items: center;
    -webkit-box-align: center;

    span {
      font-size: 12px;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.btn-user {
  color: rgb(215, 219, 223) !important;
  padding: 0 !important;

  div {
    width: 32px;
    height: 32px;
    background-color: rgb(230, 232, 235);
  }
}
