.login-wrapper {
  -webkit-box-align: center;
  align-items: center;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.login-logo {
  width: 100px;
  height: 100px;
  margin-top: 64px;
}

.login-title {
  margin: 0px 0px 0.35em !important;
  font-weight: 500 !important;
  line-height: 1.19444 !important;
  font-size: 36px !important;
  letter-spacing: -0.03em !important;
  text-align: center;
}

.login-container {
  display: flex !important;
  flex: 1 1 0%;
  flex-direction: column;
}

.login-label {
  margin: 0px 0px 20px !important;
  font-weight: 500 !important;
  line-height: 1.19444 !important;
  font-size: 36px !important;
  letter-spacing: -0.03em !important;
}

.login-content {
  flex: 1 1 0%;
  display: flex;
  align-items: center;
  -webkit-box-align: center;
  flex-direction: column;
  margin-top: 32px;
}

.login-paper {
  background-color: rgb(255, 255, 255) !important;
  color: rgb(17, 24, 28) !important;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms !important;
  box-shadow: rgba(236, 238, 240, 0.5) 0px 10px 5px !important;
  border-radius: 12px !important;
  padding: 24px;
  box-sizing: border-box;
  width: 100%;
  max-width: 348px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login-form-content {
  flex-flow: row wrap !important;
  min-width: 0px !important;
  align-items: center;
  -webkit-box-align: center;
  justify-content: space-between;
  -webkit-box-pack: justify;

  p {
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    letter-spacing: -0.01em;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
  }
  .error-message {
    display: block;
    color: rgb(229, 72, 77);
    line-height: 1.5;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    margin: 5px 14px 0px;
  }
}

.login-input {
  div {
    padding-right: 0px;
    font-size: 16px !important;
    letter-spacing: -0.01em;
    color: rgb(17, 24, 28);
    border-radius: 6px;
    background-color: rgb(241, 243, 245);
    overflow: hidden;

    input {
      color: currentColor !important;
      padding: 12px !important;
    }
  }
}

.login-input-error {
  div {
    padding-right: 0px;
    font-size: 16px !important;
    color: rgb(17, 24, 28);
    border-radius: 6px;
    background-color: rgb(255, 239, 239);
    border: 1px solid rgb(243, 174, 175);
    overflow: hidden;

    input {
      color: currentColor !important;
      padding: 12px !important;
    }
  }
  p {
    color: rgb(229, 72, 77);
    font-size: 12px;
    margin: 3px 14px 0px;
    text-align: left;
  }
}

.login-select {
  padding-right: 0px;
  font-size: 16px !important;
  letter-spacing: -0.01em !important;
  color: rgb(17, 24, 28) !important;
  border-radius: 6px;
  background-color: rgb(241, 243, 245) !important;
  overflow: hidden;

  div {
    padding: 12px;
  }
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-focusVisible {
  background-color: rgba(193, 200, 205, 0.24) !important;
}

.css-1ka5eyc-MuiPaper-root-MuiMenu-paper-MuiPopover-paper {
  border-radius: 8px !important;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 2px;
  border: 1px solid rgb(223, 227, 230);
  box-shadow: none !important;
}

.css-kk1bwy-MuiButtonBase-root-MuiMenuItem-root.Mui-selected {
  background-color: rgb(233, 249, 238) !important;
  border-radius: 6px;

  &:hover {
    background-color: rgb(221, 243, 228) !important;
  }
}
.select-factory {
  margin: 2px 0 0 !important;
  appearance: none !important;
  font-size: 16px !important;
  letter-spacing: -0.01em !important;
  text-decoration: none;
  box-sizing: border-box;
  white-space: nowrap;

  &:hover {
    color: rgb(48, 164, 108);
    // background-color: rgba(193, 200, 205, 0.08) !important;
    border-radius: 6px;
  }
}

.btn-login {
  margin-top: 8px;
  margin-bottom: 8px;

  button {
    margin: 18px 0 0;
    appearance: none;
    font-weight: 400;
    line-height: 1.71429;
    text-transform: capitalize;
    color: rgb(251, 253, 255);
    background-color: rgb(0, 145, 255);
    border-radius: 6px;
    height: 48px;
    font-size: 16px;

    &:hover {
      background-color: rgb(0, 129, 241);
    }

    p {
      text-transform: initial;
      font-size: 16px;
      letter-spacing: -0.01em;
    }
  }
}

.forget-password {
  flex-direction: row !important;
  justify-content: center;
  -webkit-box-pack: center;

  a {
    line-height: 1.35714;
    font-size: 14px;
    font-weight: 400;
    color: rgb(0, 145, 255);
    text-decoration: none;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    background-color: transparent;
    outline: 0px;
    border: 0px;
    margin: 16px 0 0;
    border-radius: 0px;
    padding: 0;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
