.title,
.advance {
  font-weight: 500 !important;
  line-height: 1.375 !important;
  font-size: 24px !important;
  letter-spacing: -0.03em !important;
  color: rgb(0, 106, 220) !important;
  text-transform: capitalize !important;
}

.advance {
  color: inherit !important;
}

.more-btn {
  margin: 10px 0px 0px !important;
  padding: 8px 10px !important;
  border-radius: 8px !important;

  &:hover {
    background-color: rgba(0, 145, 255, 0.16) !important;
    color: inherit;
  }
  div {
    color: rgb(215, 219, 223);
    margin-right: 10px;
    min-width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: rgb(241, 243, 245);
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }

  p {
    letter-spacing: -0.01em;
    font-size: 16px;
    font-weight: 400;
  }
}

hr {
  margin: 10px 0px !important;
  border-color: rgba(193, 200, 205, 0.24) !important;
}
